@font-face { font-family: Delicious; src: url("../font/pokemon_pixel_font.ttf"); } 

body {margin:0;}

canvas {
    background-color:black;
    margin:10px;
    /*position:absolute;*/
    /*top:10;*/
}

/*.canvas1 {left:10;}*/

/*.canvas2 {left:1050;}*/
